body {
    font-family: 'Roboto Mono', monospace;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

p {
    font-size: 0.8em;
}

canvas {
    padding: 10px;
}